@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);
@import 'shared/variables';
@import url(https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css);

html, body {
	font-family: $primary-font, sans-serif;
}

.alert {
	padding: 10px;
	text-align: center;
	color: white;
	margin: 0;
	border-radius: 0;

	&.alert-success {
		background: green;
	}

	&.alert-info {
		background: blue;
	}

	&.alert-danger {
		background: red;
	}

}
